{# addbook.twig #}

{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/assets/css/addbook.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<div>
				{% if book %}
					<h2>Modifier un livre</h2>
				{% else %}
					<h2>Ajouter un livre</h2>
				{% endif %}
			</div>
			<form method="post" {% if book %} action="/bookUpdate/{{book.id}}" {% else %} action="/addBook" {% endif %}>
				<div>
					<label for="title">Titre du livre</label>
					<input id="title" type="text" name="title" value={{book.title}}>
					{% if error %}
						<p>{{error.errors.name.title}}</p>
					{% endif %}
				</div>
				<div>
					<label for="author">Auteur du livre</label>
					<input id="author" type="text" name="author" value={{book.author}}>
					{% if error %}
						<p>{{error.errors.name.author}}</p>
					{% endif %}
				</div>
				<div>
					<label for="publishedDate">Auteur du livre</label>
					<input id="publishedDate" type="date" name="publishedDate" value={{book.publishedDate | date("Y-m-d")}}>
					{% if error %}
						<p>{{error.errors.name.publishedDate}}</p>
					{% endif %}
				</div>
				<div>
					<button type="submit">Envoyer</button>
				</div>
			</form>
		</section>
	</main>
	{% block name %}{% endblock %}
{% endblock %}
